@import "~@/style/variable";

.charResult {
	@media #{$computer} {
		display: grid;
		padding: 1.5rem 1rem;
		grid-template-columns: 1fr 1fr;
	}

	> *:nth-child(1) {
		margin: 0 1rem 0 0;
		position: relative;

		@media #{$tablet} {
			margin: 0 0 1rem 0;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
		}
		
		@media #{$mobile} {
			display: block;
		}
	}

	> *:nth-child(2) {
		@media #{$computer} {
			border-left: 1px dashed var(--search-bar-border-color);
		}
	}
}

$variant-font-size: 20px;

.variants {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
	* {
		font-size: $variant-font-size;
		display: block;
		margin: 1.5px;
		color: var(--primary-color) !important;
	}

	img {
		width: $variant-font-size;
		height: $variant-font-size;
		mix-blend-mode: multiply;
		filter: url("@/img/filters.svg#primary-light-image");

		#{$dark-theme} & {
			filter: url("@/img/filters.svg#primary-dark-image") invert(1);
			mix-blend-mode: screen;
		}
	}

	a:active {
		transform: scale(0.8);
	}
}

.infoBoxArea {
	flex-grow: 1;
}

table.infoBox {
	border-spacing: 0;

	td {
		border-bottom: 1px solid var(--search-bar-border-color);
		padding: 0.25rem;
		vertical-align: top;

		&:not([colspan]):first-child {
			white-space: nowrap;
			width: 0;
			text-align: justify;
			text-align-last: justify;
			vertical-align: middle;
		}
		
		table {
			border-spacing: 0;
			
			td {
				border-bottom: none;
				padding: 0;
				
				&:first-child {
					&::before {
						content: "《";
					}
					&::after {
						content: "》";
					}
				}
			}
		}
	}

	tr:hover {
		background-color: var(--hover-color);
	}
}

.adjacentChars {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	font-size: 1.2rem;
}

.regionSource {
	display: grid;
	grid-gap: 0.25rem;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

:export {
	variantFontSize: $variant-font-size;
}
