// body,
.bgpic {
	position: fixed;
	// z-index: -1;
	opacity: 0.5;
	user-select: none;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
	background: {
		image: url("@/img/fx360.png");
		repeat: no-repeat;
		position: calc(100% - 3rem) calc(100% * (1 - var(--scroll-var)) + 50% * var(--scroll-var));
	}
	--scroll-var: 0;
}
