@import "~@/style/mixins";

fieldset.card,
div.card {
	box-shadow: 0 1px 4px 0 transparentize(black, 1 - 0.37);
	border-radius: 0.5rem;
	border: none;
	margin: 1rem;
	padding: 0.75rem 1.5rem;
	background-color: var(--header-background-color);
	@include blur;
}

fieldset.card > legend,
div.card > h4 {
	font-weight: bold;
	font-size: 1.5rem;

	&::after {
		content: "";
		width: calc(100% + 1rem);
		$height: 12px;
		height: $height;
		border-radius: $height;
		background-color: var(--primary-color);
		display: block;
		margin-top: -12px;
		margin-left: -0.5rem;
	}
}

div.card {
	margin-top: 2rem;
	
	> h4 {
		margin: -2rem 0 0.5rem;
		width: fit-content;
	}
}
