@import "~@/style/variable";
@import "~@/style/mixins";

.charViewer {
	&,
	& * {
		--size: 16rem;
		
		@media #{$mobile-phone} {
			--size: 11rem;
		}
	}
	
	box-shadow: 0 1px 4px 0 transparentize(black, 1 - 0.37);
	border: 1px solid var(--search-bar-border-color);
	border-radius: 2rem;
	overflow: hidden;
	width: var(--size);
	flex-shrink: 0;
	
	@media #{$mobile-phone} {
		margin-right: 1rem;
	}

	.grid {
		height: var(--size);
		position: relative;
		@include blur;

		> * {
			width: 100%;
			height: 100%;
			text-align: center;
			position: absolute;

			&:not(.char) {
				border-top: 1px dashed var(--search-bar-border-color);
				pointer-events: none;
			}

			&.char {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: calc(var(--size) * 0.75);
			}

			&:nth-child(1) {
				transform: translateY(50%);
			}

			&:nth-child(2) {
				transform: rotate(90deg) translateY(50%);
			}

			&:nth-child(3) {
				transform: rotate(45deg);
				width: 200%;
				transform-origin: left top;
			}

			&:nth-child(4) {
				transform: rotate(-45deg);
				width: 200%;
				transform-origin: right top;
				right: 0;
			}
		}
	}

	button.copyButton {
		appearance: none;
		border: none;
		background: var(--primary-color);
		cursor: pointer;
		font-size: 0.9rem;
		width: 100%;
		padding: 0.5rem;
		color: var(--background-color);
		white-space: nowrap;

		&:hover:not(:active):not(.isCopied) {
			filter: brightness(1.5);
		}

		&:active:not(.isCopied) {
			filter: brightness(0.5);
		}

		&[disabled] {
			filter: saturate(0) !important;
			pointer-events: none;
		}
	}
}
