@import "~@/style/variable";
@import "~@/style/mixins";

$header-height: 3rem;

header.header {
	background-color: var(--header-background-color);
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 3px 10px transparentize($color: black, $amount: 1 - 0.35);
	user-select: none;
	height: $header-height;
	white-space: nowrap;
	@include blur;

	> div {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	button {
		appearance: none;
		border: none;
		cursor: pointer;
		background-color: transparent;
		color: var(--text-color);
		border-radius: 0.25rem;
		font-size: 1rem;
		padding: 0.3rem 0.5rem;
		margin-left: 0.3rem;

		&:hover:not(:active) {
			background-color: var(--hover-color);
		}

		$focus-border: 0 0 0 0.25rem;

		&:focus {
			box-shadow: $focus-border var(--hover-box-shadow-color);
		}

		&:active {
			background-color: var(--primary-color);
			color: var(--background-color);
			> i {
				transform: scale(0.7);
			}
			&:focus {
				box-shadow: $focus-border var(--primary-box-shadow-color);
			}
		}
	}

	+ div {
		overflow-y: auto;
		height: calc(100vh - #{$header-height});
		transition: none !important;
	}

	.headerSearch {
		width: 150px;
		height: 30px;
		margin-left: 1rem;
		overflow: hidden;

		> * {
			width: 100%;
			height: 100%;
			background-color: var(--header-background-color);
			border: 1px solid var(--search-bar-border-color);
			border-radius: 1rem;
			display: flex;
			align-items: center;
			padding: 0 10px;
			cursor: text;
			transform: translateX(-100%);
			pointer-events: none;

			&:hover {
				background-color: var(--hover-color);
			}

			> i.fa {
				color: var(--search-bar-border-color) !important;
			}
		}

		&.show > * {
			transform: translateX(0);
			pointer-events: unset;
		}
	}
}

@font-face {
	font-family: "FZTanHei";
	src: url("@/fonts/FZTanHei-B-LOGO.woff");
}

.ziseaLogo {
	font: {
		family: "FZTanHei", sans-serif !important;
		size: 1.5rem;
	}
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;

	embed,
	.logo {
		$size: 2rem;
		display: block;
		width: $size;
		height: $size;
		border-radius: 0.5rem;
		margin-right: 0.5rem;
		fill: var(--text-color);
	}
}

.hiddenOnlyInMobilePhone {
	@media #{$mobile-phone} {
		display: none;
	}
}
