@import "~@/style/ease";

table.indexTable {
	margin: 0 -0.25rem;
	$padding-top: 3px;

	tr > td {
		vertical-align: top;
		
		&:first-of-type {
			margin-right: 0.5rem;
			padding-top: $padding-top;
		}

		button {
			appearance: none;
			border: none;
			padding: #{$padding-top} 6px;
			font-size: 1rem;
			background-color: transparent;
			cursor: pointer;
			border-radius: 0.25rem;
			transition: all 250ms $ease-out-cubic, color 100ms $ease-out-cubic, transform 250ms $ease-out-back;

			&:hover {
				background-color: var(--primary-color);
				color: var(--background-color);
			}

			&:focus {
				box-shadow: 0 0 0 0.25rem var(--primary-box-shadow-color);
			}
			
			&:active {
				transform: scale(0.8);
			}
		}
	}
}
